/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  list-style: none; }

html {
  font-family: 'Comfortaa', cursive; }

body {
  padding: 0;
  margin: 0; }

.body {
  padding: 0 3rem; }

a {
  text-decoration: none;
  color: #000; }

details {
  outline: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0;
  padding: 0; }

button {
  font-family: 'Comfortaa', cursive;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none; }

input {
  font-size: .9rem;
  outline: none;
  border: none;
  background-color: transparent; }

textarea {
  font-size: .9rem;
  outline: none;
  border: none;
  background-color: transparent; }

::placeholder {
  font-family: 'Comfortaa', cursive; }

@media screen and (max-width: 768px) {
  .body {
    padding: 0 1rem; }
  footer {
    margin: 0 1rem; } }

/* Abstracts */
/* Primary color */
/* Typographys */
/* Modules */
.container-search {
  z-index: 2;
  width: 16em;
  display: flex;
  padding: .6em 1em;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #4a4a4a; }
  .container-search .input-search {
    width: 90%;
    margin-left: .5em; }

@media screen and (max-width: 568px) {
  .container-search {
    display: none; } }

@media screen and (max-width: 568px) {
  .card-item {
    margin: .6rem 0; } }

/* Layout */
@use '../modules/nav_menu';
#header {
  min-height: 36rem; }
  #header .navbar-top {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
    #header .navbar-top .container-menu {
      z-index: 2; }
      #header .navbar-top .container-menu .container-list-menu {
        display: flex;
        gap: 1.2em; }
        #header .navbar-top .container-menu .container-list-menu .icon-white {
          display: none; }
        #header .navbar-top .container-menu .container-list-menu .name {
          display: none; }
        #header .navbar-top .container-menu .container-list-menu .link-menu {
          height: auto;
          display: flex;
          align-items: flex-start; }
          #header .navbar-top .container-menu .container-list-menu .link-menu .sup {
            position: relative;
            left: -6px;
            color: white;
            background-color: #ea4d84;
            padding: .3rem;
            font-size: .6rem;
            border-radius: 50%;
            text-align: start; }
  #header .container-logo {
    text-align: center;
    position: relative;
    top: -3rem; }
    #header .container-logo > button {
      display: none; }
    #header .container-logo .image-logo-brand {
      width: 110px; }
    #header .container-logo .container-list-nav {
      display: flex;
      justify-content: center;
      gap: 1.4em;
      align-items: center;
      margin-top: 1rem; }
      #header .container-logo .container-list-nav a:hover {
        color: #ea4d84; }
      #header .container-logo .container-list-nav a:focus {
        color: #ea4d84; }
  @media screen and (max-width: 568px) {
    #header .navbar-top .container-menu {
      width: 100%; }
      #header .navbar-top .container-menu .container-list-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        text-align: center;
        margin-top: 0; }
        #header .navbar-top .container-menu .container-list-menu .link-menu {
          height: auto;
          display: flex;
          align-items: flex-start; }
          #header .navbar-top .container-menu .container-list-menu .link-menu .sup {
            position: relative;
            left: -6px;
            color: white;
            background-color: #ea4d84;
            padding: .3rem;
            font-size: .6rem;
            border-radius: 50%;
            text-align: start; }
        #header .navbar-top .container-menu .container-list-menu .menu-profile {
          min-width: 140px;
          width: 160px;
          background-color: #ea4d84;
          border-radius: 20px; }
          #header .navbar-top .container-menu .container-list-menu .menu-profile > a {
            position: relative;
            top: 2px;
            left: 2px;
            display: flex;
            align-items: center; }
            #header .navbar-top .container-menu .container-list-menu .menu-profile > a .icon-gray {
              display: none; }
            #header .navbar-top .container-menu .container-list-menu .menu-profile > a .icon-white {
              display: block; }
            #header .navbar-top .container-menu .container-list-menu .menu-profile > a .name {
              display: block;
              color: white;
              margin-left: 1rem; }
    #header .container-logo {
      position: static;
      margin-top: 1.5rem; }
      #header .container-logo > button {
        display: inline-flex;
        position: absolute;
        top: 135px;
        left: 14px; }
      #header .container-logo .container-list-nav {
        display: none; } }
  #header .hero {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem; }
    #header .hero .hero-text {
      display: flex;
      flex-direction: column;
      width: 50%; }
      #header .hero .hero-text .hero-title {
        font-size: 2rem;
        font-weight: 600; }
      #header .hero .hero-text .hero-button {
        border: none;
        background-color: #ea4d84;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: white;
        font-size: .875rem;
        font-weight: 600;
        margin-top: 3rem;
        width: 10rem; }
    #header .hero .hero-image {
      max-height: 41%;
      position: absolute;
      z-index: -999;
      right: 3rem; }

@media screen and (max-width: 568px) {
  #header {
    margin-bottom: 3rem; }
    #header .hero {
      margin-top: 0;
      display: block;
      width: 100%;
      text-align: center; }
      #header .hero .hero-text {
        width: 100%;
        padding: 0 5%;
        align-items: center;
        margin-top: 2rem; }
        #header .hero .hero-text .hero-title {
          font-size: 1.2rem; }
        #header .hero .hero-text .hero-button {
          margin-top: 1.5rem; }
      #header .hero .hero-image {
        margin-top: 1rem;
        max-height: none;
        position: static;
        display: block;
        width: 100%; } }

@use '../modules/card';
#featured-products {
  margin-top: 3rem; }
  #featured-products .products-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem; }
    #featured-products .products-title > h2 {
      margin-left: .6rem; }
  #featured-products .container-product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    max-width: 100%; }
    #featured-products .container-product-cards .card-item {
      box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1);
      background-color: white;
      min-height: 360px;
      min-width: 260px;
      padding: .5rem; }
      #featured-products .container-product-cards .card-item .card-header {
        position: relative;
        display: block;
        width: 100%;
        border-radius: calc(var(--curve) * 1px);
        overflow: hidden;
        text-decoration: none; }
        #featured-products .container-product-cards .card-item .card-header .card-image {
          width: 100%;
          height: auto; }
        #featured-products .container-product-cards .card-item .card-header .card-heart-icon {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 15px;
          margin-right: 15px;
          border: none;
          background-color: transparent;
          cursor: pointer; }
          #featured-products .container-product-cards .card-item .card-header .card-heart-icon svg:hover {
            fill: #ea4d84;
            transition: 250ms; }
        #featured-products .container-product-cards .card-item .card-header .card-button {
          display: flex;
          align-items: center;
          justify-content: end;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          border-radius: 20px 0 0 0;
          background-color: #fffafb;
          border: none;
          padding: 0.6rem;
          width: 100%;
          /* Animation with hover */
          transform: translateY(100%);
          transition: .2s ease-in-out; }
          #featured-products .container-product-cards .card-item .card-header .card-button p {
            font-size: 1.25rem;
            color: #4a4a4a;
            margin-left: .8rem; }
      #featured-products .container-product-cards .card-item .card-description {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        background-color: #fff;
        margin-top: 1.5rem;
        border-radius: 0.25rem;
        width: 100%; }
        #featured-products .container-product-cards .card-item .card-description h3 {
          font-size: 1.25rem;
          font-weight: 600; }
        #featured-products .container-product-cards .card-item .card-description p {
          margin-top: 1rem;
          font-size: 1.2rem;
          font-weight: 600; }
    #featured-products .container-product-cards .card-item:hover .card-button {
      transform: translateY(0); }

@media screen and (max-width: 568px) {
  #featured-products .products-title {
    margin-bottom: 1.6rem; }
  #featured-products .container-product-cards {
    display: flex;
    width: 100vw;
    overflow-x: auto; }
    #featured-products .container-product-cards .card-item .card-description {
      margin-top: 1rem; }
      #featured-products .container-product-cards .card-item .card-description .product-name {
        font-size: 1rem; } }

@use '../modules/card2';
#categories-products {
  margin-top: 5rem;
  display: flex; }
  #categories-products > img {
    z-index: -2;
    position: absolute;
    left: 8%;
    width: 13rem; }
  #categories-products .container-aside-left {
    width: 30%; }
    #categories-products .container-aside-left details {
      display: block; }
      #categories-products .container-aside-left details summary {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        text-align: center; }
        #categories-products .container-aside-left details summary > img {
          display: none; }
      #categories-products .container-aside-left details .categories-list {
        display: flex;
        margin-top: .6rem;
        padding-bottom: .5rem;
        flex-direction: column;
        gap: .5rem; }
        #categories-products .container-aside-left details .categories-list :hover {
          background-color: #fde8ee; }
        #categories-products .container-aside-left details .categories-list :focus {
          background-color: #f7c5dd; }
        #categories-products .container-aside-left details .categories-list .categories-list-item {
          display: flex;
          align-items: center;
          padding: .6rem 0 .6rem 1rem;
          border-radius: 0 20px 0 0; }
          #categories-products .container-aside-left details .categories-list .categories-list-item > img {
            margin-right: .8rem; }
    #categories-products .container-aside-left .container-elephant-image {
      display: flex;
      height: 54%;
      justify-content: center; }
  #categories-products .container-aside-right {
    width: 70%; }
    #categories-products .container-aside-right .container-header-accesories {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 2px solid #4a4a4a; }
      #categories-products .container-aside-right .container-header-accesories .container-accesories-title {
        display: flex;
        align-items: center; }
        #categories-products .container-aside-right .container-header-accesories .container-accesories-title .text-accesories {
          margin-left: 1rem; }
      #categories-products .container-aside-right .container-header-accesories .text-link-accesories {
        display: flex;
        align-items: center;
        color: #ea4d84;
        font-size: small; }
    #categories-products .container-aside-right .container-accesories-cards {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      column-gap: 16px;
      row-gap: 32px; }
      #categories-products .container-aside-right .container-accesories-cards .card-item-accesories {
        background-color: white;
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1);
        padding: .5rem; }
        #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header {
          position: relative;
          display: block;
          width: 100%;
          overflow: hidden;
          text-decoration: none; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-image {
            width: 100%;
            height: auto; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-heart-icon {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 15px;
            margin-right: 15px;
            border: none;
            background-color: transparent;
            cursor: pointer; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-heart-icon svg:hover {
              fill: #ea4d84;
              transition: 250ms; }
        #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description {
          flex-direction: column;
          align-content: flex-end;
          background-color: #fff;
          margin-top: 1.5rem;
          border-radius: 0.25rem;
          width: 100%; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description h3 {
            font-size: 1.25rem;
            font-weight: 600; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description span {
            margin-top: 1rem; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer {
            display: flex;
            justify-content: space-between;
            margin-top: 1.25rem; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer span {
              font-size: 1.25rem;
              font-weight: 600;
              margin: auto 0; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer button {
              background-color: #ea4d84;
              border-radius: 0 0 20px 0;
              padding: .5rem 1.50rem;
              color: white;
              font-size: .875rem;
              font-weight: 600; }

@media screen and (max-width: 568px) {
  #categories-products {
    display: block;
    margin-top: 3.5rem; }
    #categories-products > img {
      display: none; }
    #categories-products .container-aside-left {
      width: 100%;
      height: auto;
      margin-bottom: 2.5rem;
      background-color: #fffafb; }
      #categories-products .container-aside-left details > summary > img {
        display: block; }
      #categories-products .container-aside-left details .container-categories-list {
        margin-top: 1.5rem;
        margin-right: 0; }
      #categories-products .container-aside-left .container-elephant-image {
        display: none; }
    #categories-products .container-aside-right {
      width: 100%;
      display: block; }
      #categories-products .container-aside-right .container-header-accesories {
        flex-direction: column;
        align-items: center;
        border: none; }
        #categories-products .container-aside-right .container-header-accesories .text-link-accesories {
          margin-top: 1.5rem;
          font-size: medium; }
      #categories-products .container-aside-right .container-accesories-cards {
        display: grid;
        grid-template-columns: repeat(2, minmax(220px, 1fr));
        column-gap: 8px;
        row-gap: 16px;
        margin-top: 1rem; }
        #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description {
          margin-top: .8rem; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description > h3 {
            font-size: 1rem; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description > span {
            font-size: small; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer {
            margin-top: 1rem; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer > span {
              font-size: 1rem; } }

@use '../modules/nav_menu';
@use '../modules/pagination';
.navbar .navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }
  .navbar .navbar-top .container-menu {
    z-index: 2; }
    .navbar .navbar-top .container-menu .container-list-menu {
      display: flex;
      gap: 1.2em; }
      .navbar .navbar-top .container-menu .container-list-menu .icon-white {
        display: none; }
      .navbar .navbar-top .container-menu .container-list-menu .name {
        display: none; }
      .navbar .navbar-top .container-menu .container-list-menu .link-menu {
        height: auto;
        display: flex;
        align-items: flex-start; }
        .navbar .navbar-top .container-menu .container-list-menu .link-menu .sup {
          position: relative;
          left: -6px;
          color: white;
          background-color: #ea4d84;
          padding: .3rem;
          font-size: .6rem;
          border-radius: 50%;
          text-align: start; }

.navbar .container-logo {
  text-align: center;
  position: relative;
  top: -3rem; }
  .navbar .container-logo > button {
    display: none; }
  .navbar .container-logo .image-logo-brand {
    width: 110px; }
  .navbar .container-logo .container-list-nav {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    align-items: center;
    margin-top: 1rem; }
    .navbar .container-logo .container-list-nav a:hover {
      color: #ea4d84; }
    .navbar .container-logo .container-list-nav a:focus {
      color: #ea4d84; }

@media screen and (max-width: 568px) {
  .navbar .navbar-top .container-menu {
    width: 100%; }
    .navbar .navbar-top .container-menu .container-list-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      margin-top: 0; }
      .navbar .navbar-top .container-menu .container-list-menu .link-menu {
        height: auto;
        display: flex;
        align-items: flex-start; }
        .navbar .navbar-top .container-menu .container-list-menu .link-menu .sup {
          position: relative;
          left: -6px;
          color: white;
          background-color: #ea4d84;
          padding: .3rem;
          font-size: .6rem;
          border-radius: 50%;
          text-align: start; }
      .navbar .navbar-top .container-menu .container-list-menu .menu-profile {
        min-width: 140px;
        width: 160px;
        background-color: #ea4d84;
        border-radius: 20px; }
        .navbar .navbar-top .container-menu .container-list-menu .menu-profile > a {
          position: relative;
          top: 2px;
          left: 2px;
          display: flex;
          align-items: center; }
          .navbar .navbar-top .container-menu .container-list-menu .menu-profile > a .icon-gray {
            display: none; }
          .navbar .navbar-top .container-menu .container-list-menu .menu-profile > a .icon-white {
            display: block; }
          .navbar .navbar-top .container-menu .container-list-menu .menu-profile > a .name {
            display: block;
            color: white;
            margin-left: 1rem; }
  .navbar .container-logo {
    position: static;
    margin-top: 1.5rem; }
    .navbar .container-logo > button {
      display: inline-flex;
      position: absolute;
      top: 135px;
      left: 14px; }
    .navbar .container-logo .container-list-nav {
      display: none; } }

.all-products {
  margin-top: 1rem !important; }

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  margin-top: 3rem;
  margin-bottom: 2rem; }
  #pagination .circle-step {
    border-radius: 50%;
    padding: .5rem;
    background-color: #ea4d84;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    cursor: pointer; }
  #pagination .circle-page {
    border-radius: 50%;
    padding: .5rem;
    background-color: #c9c9c9;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    cursor: pointer; }

@use '../modules/card2';
.breadcrumb {
  font-size: 0.8rem;
  color: #4a4a4a; }

.product-intern-title {
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

.wrapper-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%; }
  .wrapper-product .wrapper-images-product {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .wrapper-product .wrapper-images-product .wrapper-left {
      max-width: 20%;
      max-height: 550px;
      min-height: 550px;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: .5rem; }
      .wrapper-product .wrapper-images-product .wrapper-left::-webkit-scrollbar {
        display: none; }
      .wrapper-product .wrapper-images-product .wrapper-left .background-image {
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.2), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.2);
        padding: .3rem;
        width: 100%; }
        .wrapper-product .wrapper-images-product .wrapper-left .background-image .image-product {
          width: 100%;
          height: 100%;
          object-fit: cover; }
    .wrapper-product .wrapper-images-product .wrapper-right {
      min-width: 80%; }
      .wrapper-product .wrapper-images-product .wrapper-right .background-image {
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.2), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.2);
        padding: .3rem;
        margin-left: .5rem; }
        .wrapper-product .wrapper-images-product .wrapper-right .background-image .image-product {
          width: 100%;
          object-fit: cover; }
  .wrapper-product .wrapper-details-product {
    width: 50%; }
    .wrapper-product .wrapper-details-product .container-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 2rem 1.5rem 1rem 1.5rem; }
      .wrapper-product .wrapper-details-product .container-details .details-top {
        display: flex;
        flex-direction: column;
        gap: 1rem; }
        .wrapper-product .wrapper-details-product .container-details .details-top span h3 {
          margin-bottom: .6rem; }
      .wrapper-product .wrapper-details-product .container-details .details-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 1rem;
        border-top: 2px solid #4a4a4a; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom .description-details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 50%; }
          .wrapper-product .wrapper-details-product .container-details .details-bottom .description-details .price > h2 {
            font-size: 1.45rem; }
          .wrapper-product .wrapper-details-product .container-details .details-bottom .description-details .price > p {
            margin-top: .5rem;
            font-size: .9rem;
            color: #4a4a4a; }
          .wrapper-product .wrapper-details-product .container-details .details-bottom .description-details .quantity .counter {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: .3rem 0;
            margin-top: .3rem;
            border: 1px solid #4a4a4a;
            border-radius: 20px; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom .add-cart {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          height: 100%;
          padding: 0 1.25rem;
          color: white;
          font-size: .875rem;
          font-weight: 600; }

.container-accesories-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 16px;
  row-gap: 32px; }
  .container-accesories-cards .card-item-accesories {
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1);
    padding: .5rem; }
    .container-accesories-cards .card-item-accesories .card-header {
      position: relative;
      display: block;
      width: 100%;
      overflow: hidden;
      text-decoration: none; }
      .container-accesories-cards .card-item-accesories .card-header .card-image {
        width: 100%;
        height: auto; }
      .container-accesories-cards .card-item-accesories .card-header .card-heart-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer; }
        .container-accesories-cards .card-item-accesories .card-header .card-heart-icon svg:hover {
          fill: #ea4d84;
          transition: 250ms; }
    .container-accesories-cards .card-item-accesories .card-description {
      flex-direction: column;
      align-content: flex-end;
      background-color: #fff;
      margin-top: 1.5rem;
      border-radius: 0.25rem;
      width: 100%; }
      .container-accesories-cards .card-item-accesories .card-description h3 {
        font-size: 1.25rem;
        font-weight: 600; }
      .container-accesories-cards .card-item-accesories .card-description span {
        margin-top: 1rem; }
      .container-accesories-cards .card-item-accesories .card-description .card-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem; }
        .container-accesories-cards .card-item-accesories .card-description .card-footer span {
          font-size: 1.25rem;
          font-weight: 600;
          margin: auto 0; }
        .container-accesories-cards .card-item-accesories .card-description .card-footer button {
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          padding: .5rem 1.50rem;
          color: white;
          font-size: .875rem;
          font-weight: 600; }

@media screen and (max-width: 568px) {
  .breadcrumb {
    margin-top: 1.5rem; }
  .product-intern-title {
    font-size: larger; }
  .wrapper-product {
    /* .wrapper-images-product{
      width: 100%;
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      .wrapper-left{
        width: 100%;
        width: auto;
        flex-direction: row;

        .button-down-icon{ display: none; }
      }

      .wrapper-right{
        width: 100%;
        .background-image{
          width: 100%;
          margin: 0;
        }
      }
    } */ }
    .wrapper-product .wrapper-details-product {
      width: 100%;
      padding-bottom: 1rem; }
      .wrapper-product .wrapper-details-product .container-details .details-top {
        padding-bottom: .6rem; }
        .wrapper-product .wrapper-details-product .container-details .details-top h3 {
          font-size: medium; }
        .wrapper-product .wrapper-details-product .container-details .details-top p {
          font-size: small; }
      .wrapper-product .wrapper-details-product .container-details .details-bottom {
        flex-direction: column; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom .description-details .price > h2 {
          font-size: 1.25rem; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom .description-details .price > p {
          font-size: .8rem; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom > .add-cart {
          display: block;
          width: 50%;
          margin-top: 1.2rem;
          text-align: center;
          padding: 1rem 0; } }

@use '../modules/input_form';
@use '../modules/flex_container';
@use '../modules/footer';
.left-container-pay .wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 1.2rem;
  border-bottom: 1px solid #8f8f8f; }
  .left-container-pay .wrapper-header > p {
    font-weight: bold; }
  .left-container-pay .wrapper-header > span {
    display: flex;
    align-items: center; }
    .left-container-pay .wrapper-header > span > button {
      background-color: #ea4d84;
      border-radius: 0 0 20px 0;
      padding: .8rem 1.5rem;
      color: white;
      font-size: .875rem;
      font-weight: 600;
      margin-left: 1rem; }

.left-container-pay .wrapper-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1.2rem;
  column-gap: 3em; }
  .left-container-pay .wrapper-inputs .container-input {
    z-index: 2;
    width: 100%;
    min-width: 255px;
    display: flex;
    padding: .6em 1em;
    align-items: center;
    border-radius: 20px;
    border: 1px solid #4a4a4a; }
    .left-container-pay .wrapper-inputs .container-input > img {
      width: 22px; }
    .left-container-pay .wrapper-inputs .container-input .input {
      width: 98%;
      margin-left: .5em; }

.left-container-pay .wrapper-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem; }
  .left-container-pay .wrapper-contact > span {
    display: flex;
    align-items: center; }
    .left-container-pay .wrapper-contact > span > img {
      width: 22px;
      margin-right: .4rem; }
    .left-container-pay .wrapper-contact > span > a {
      color: #ea4d84; }

.left-container-pay .container-input-reference {
  margin-top: 1rem;
  z-index: 2;
  width: 100%;
  min-width: 255px;
  display: flex;
  padding: .6em 1em;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #4a4a4a; }
  .left-container-pay .container-input-reference > img {
    width: 22px; }
  .left-container-pay .container-input-reference .input {
    width: 98%;
    margin-left: .5em; }

.right-container-pay .header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8f8f8f; }

.right-container-pay .product-items > div {
  margin: 1.4rem 0;
  display: flex;
  justify-content: space-between; }

.right-container-pay .subtotal-items {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f; }

.right-container-pay .ship-lima {
  padding-bottom: 1.6rem; }

.right-container-pay .total-items {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid #8f8f8f; }

.bg-footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #ea4d84; }
  .bg-footer footer {
    margin: 11rem 3rem 0 3rem;
    padding: 3rem 5rem 1rem 5rem;
    background-color: #fde8ee;
    position: relative;
    bottom: 4rem; }
    .bg-footer footer .wrapper-content-footer {
      display: flex;
      justify-content: space-between;
      gap: 1rem; }
      .bg-footer footer .wrapper-content-footer .contact {
        display: flex;
        flex-direction: column;
        gap: 1rem; }
        .bg-footer footer .wrapper-content-footer .contact a {
          display: flex;
          align-items: center; }
          .bg-footer footer .wrapper-content-footer .contact a img {
            width: 22px; }
          .bg-footer footer .wrapper-content-footer .contact a p {
            margin-left: .6rem;
            font-size: .85em; }
      .bg-footer footer .wrapper-content-footer .delivery .top {
        display: flex;
        align-items: flex-start; }
        .bg-footer footer .wrapper-content-footer .delivery .top span {
          margin-left: .8rem; }
          .bg-footer footer .wrapper-content-footer .delivery .top span .cover {
            font-size: .8em;
            margin-top: .3rem; }
          .bg-footer footer .wrapper-content-footer .delivery .top span button {
            background-color: #ea4d84;
            border-radius: 0 0 20px 0;
            padding: .4rem 1.2rem;
            color: white;
            margin-top: .6rem; }
      .bg-footer footer .wrapper-content-footer .delivery .bottom {
        margin-top: 1.8rem;
        display: flex;
        flex-direction: column;
        gap: 1rem; }
        .bg-footer footer .wrapper-content-footer .delivery .bottom li {
          list-style: disc;
          font-size: .85em;
          margin-left: .8rem; }
      .bg-footer footer .wrapper-content-footer .suscribe {
        display: flex;
        flex-direction: column; }
        .bg-footer footer .wrapper-content-footer .suscribe > input {
          margin-top: .8rem;
          margin-bottom: .6rem;
          padding: .4rem 0;
          border-bottom: 2px solid #8f8f8f; }
        .bg-footer footer .wrapper-content-footer .suscribe > button {
          align-self: flex-end;
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          padding: .4rem 1.2rem;
          color: white; }
    .bg-footer footer .legal {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 2rem; }
  .bg-footer .whatsapp-chat {
    z-index: 999;
    position: absolute;
    bottom: 320px;
    right: 3rem; }
  @media screen and (max-width: 568px) {
    .bg-footer {
      margin-top: 11rem;
      height: 0%; }
      .bg-footer footer {
        margin: 2rem 1rem 0 1rem;
        padding: 3rem 1.5rem 1rem 1.5rem; }
        .bg-footer footer .wrapper-content-footer {
          flex-direction: column;
          align-items: center; }
          .bg-footer footer .wrapper-content-footer .contact {
            margin-bottom: 2rem;
            align-items: center; }
          .bg-footer footer .wrapper-content-footer .delivery {
            margin-bottom: 2rem; }
          .bg-footer footer .wrapper-content-footer .suscribe {
            width: 90%; }
        .bg-footer footer .legal > span {
          display: none; }
        .bg-footer footer .legal > p {
          text-align: center; }
      .bg-footer .whatsapp-chat {
        top: -8.5rem;
        right: 1.5rem; } }

@media screen and (max-width: 568px) {
  .left-container-pay .wrapper-header {
    display: block; }
    .left-container-pay .wrapper-header > p {
      margin-bottom: 1rem; }
    .left-container-pay .wrapper-header > span {
      display: block; }
      .left-container-pay .wrapper-header > span > button {
        margin-left: 0;
        margin-top: 1rem; }
  .left-container-pay .wrapper-inputs {
    grid-template-columns: 1fr;
    row-gap: .9rem; }
  .left-container-pay .wrapper-contact
.container-input-reference {
    align-items: flex-start;
    height: 100px; }
    .left-container-pay .wrapper-contact
.container-input-reference > textarea {
      height: 80px;
      margin: .1rem 0; } }

@use './modules/cta_whatsapp';
.hero-about {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%; }
  .hero-about .header-left {
    background-color: #fffafb;
    padding: 1.6rem 2.5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    .hero-about .header-left h3 {
      font-weight: bold; }
    .hero-about .header-left p {
      margin-top: .8rem;
      font-size: 0.8rem; }
  .hero-about .header-right {
    width: 30%;
    background-color: #fde8ee;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    .hero-about .header-right img {
      width: 90%; }

.contact-about {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem; }
  .contact-about .contact-left {
    padding: 1.6rem 2.5rem;
    width: 70%; }
    .contact-about .contact-left h3 {
      padding-bottom: .8rem;
      border-bottom: 1px solid #4a4a4a; }
    .contact-about .contact-left .info-contact {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .contact-about .contact-left .info-contact div {
        display: flex;
        align-items: center;
        gap: .6rem; }
  .contact-about .contact-right {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.6rem; }
    .contact-about .contact-right img {
      width: 5em; }
    .contact-about .contact-right div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contact-about .contact-right div .whatsapp-button {
        background-color: #ea4d84;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: white;
        font-size: .875rem;
        font-weight: 600;
        width: 10rem;
        margin-top: .5rem; }

@media screen and (max-width: 568px) {
  .hero-about {
    display: block;
    margin: 2rem 0; }
    .hero-about .header-left {
      width: 100%;
      padding: 1.2rem 1.6rem; }
      .hero-about .header-left h3 {
        font-size: 1rem; }
    .hero-about .header-right {
      display: none; }
  .contact-about {
    display: block;
    margin: 2rem 0; }
    .contact-about .contact-left {
      width: 100%;
      padding: 1.2rem 1.6rem; }
      .contact-about .contact-left h3 {
        font-size: 1rem; }
      .contact-about .contact-left .info-contact {
        font-size: .8rem; }
    .contact-about .contact-right {
      display: none; } }

@use './modules/cta_whatsapp';
#hero-contact {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 100%; }
  #hero-contact .contact-form {
    padding: 1.6rem 1rem;
    width: 50%;
    background-color: #fffafb;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    #hero-contact .contact-form h3 {
      padding-bottom: 1rem;
      border-bottom: 1px solid #4a4a4a; }
    #hero-contact .contact-form .container-form {
      display: flex;
      gap: .3em;
      width: 100%; }
      #hero-contact .contact-form .container-form form {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: .6rem;
        margin-top: .5rem; }
        #hero-contact .contact-form .container-form form div {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: .6rem;
          border: 1px solid #4a4a4a;
          border-radius: 20px; }
          #hero-contact .contact-form .container-form form div input {
            font-size: .875rem;
            width: 86%;
            margin-left: -.6rem; }
      #hero-contact .contact-form .container-form .container-image {
        width: 30%;
        display: flex; }
        #hero-contact .contact-form .container-form .container-image img {
          width: 100%; }
    #hero-contact .contact-form textarea {
      width: 100%;
      padding: .8rem;
      border: 1px solid #4a4a4a;
      border-radius: 20px;
      font-size: .875rem;
      margin-top: .6rem; }
    #hero-contact .contact-form .container-form-button {
      width: 100%;
      margin-top: .8rem;
      display: flex;
      justify-content: flex-end; }
      #hero-contact .contact-form .container-form-button .form-button {
        background-color: #ea4d84;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: white;
        font-size: .875rem;
        font-weight: 600;
        width: 10em; }
  #hero-contact .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.6rem 1rem;
    width: 50%;
    background-color: #fde8ee;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    #hero-contact .contact-details .contact-title {
      padding-bottom: .8rem;
      border-bottom: 1px solid #4a4a4a; }
    #hero-contact .contact-details .contact-items {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      #hero-contact .contact-details .contact-items div {
        display: flex;
        align-items: center;
        gap: .6rem; }
    #hero-contact .contact-details .info-brand {
      width: 57%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      margin-top: 1.6rem; }
      #hero-contact .contact-details .info-brand img {
        width: 5em; }
      #hero-contact .contact-details .info-brand div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        #hero-contact .contact-details .info-brand div .whatsapp-button {
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          padding: .8rem 1.25rem;
          color: white;
          font-size: .875rem;
          font-weight: 600;
          width: 10rem;
          margin-top: .5rem; }
    #hero-contact .contact-details .divider {
      margin-top: 1.8rem;
      border-top: 1px solid #4a4a4a;
      width: 100%; }
    #hero-contact .contact-details .contact-whatsapp {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      margin-top: 1.6rem; }
      #hero-contact .contact-details .contact-whatsapp img {
        width: 5em; }
      #hero-contact .contact-details .contact-whatsapp div {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #hero-contact .contact-details .contact-whatsapp div .whatsapp-button {
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          padding: .8rem 1.25rem;
          color: white;
          font-size: .875rem;
          font-weight: 600;
          width: 10rem;
          margin-top: .5rem; }

#maps-api {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
  background-color: #e6e6e6;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 568px) {
  #hero-contact {
    display: block; }
    #hero-contact .contact-form {
      width: 100%;
      margin-bottom: 1.5rem; }
      #hero-contact .contact-form .container-form .container-image {
        display: block;
        margin: auto 0; }
    #hero-contact .contact-details {
      width: 100%; } }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 32px;
    padding: .5rem; }
  .sidenav .item_product {
    transition: 0.3s;
    padding: 1rem 3rem 1rem 2rem;
    text-decoration: none;
    color: #4a4a4a;
    display: block;
    display: flex;
    gap: .8rem;
    width: 100%;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    font-weight: bold; }
    .sidenav .item_product img {
      width: 18%;
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2); }
    .sidenav .item_product .right-description {
      width: 82%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .sidenav .item_product .right-description .title-product-item {
        text-transform: uppercase; }
      .sidenav .item_product .right-description .footer-description {
        display: flex;
        justify-content: space-between; }
  .sidenav .header-product-items {
    display: flex;
    justify-content: start;
    margin-left: 2rem;
    position: absolute;
    top: 1rem;
    width: 86%; }
    .sidenav .header-product-items span {
      display: flex;
      align-items: center; }
      .sidenav .header-product-items span svg {
        width: 18px;
        margin-right: .6rem; }
  .sidenav .container-cart-button {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 1rem;
    width: 100%;
    margin-top: 1.5rem; }
    .sidenav .container-cart-button .cart_button {
      background-color: #ea4d84;
      border-radius: 0 0 20px 0;
      padding: .4rem 1rem;
      color: white;
      font-size: .875rem;
      font-weight: 600;
      width: 90%;
      display: flex;
      justify-content: space-between; }
      .sidenav .container-cart-button .cart_button span {
        display: flex;
        align-items: center; }
        .sidenav .container-cart-button .cart_button span svg {
          width: 18px;
          margin-right: .6rem; }
      .sidenav .container-cart-button .cart_button p {
        display: flex;
        align-items: center; }

@use '../modules/nav_menu';
@use '../modules/flex_container';
@use '../modules/breadcrumb_api';
main .navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }
  main .navbar-top .container-menu {
    z-index: 2; }
    main .navbar-top .container-menu .container-list-menu {
      display: flex;
      gap: 1.2em; }
      main .navbar-top .container-menu .container-list-menu .icon-white {
        display: none; }
      main .navbar-top .container-menu .container-list-menu .name {
        display: none; }
      main .navbar-top .container-menu .container-list-menu .link-menu {
        height: auto;
        display: flex;
        align-items: flex-start; }
        main .navbar-top .container-menu .container-list-menu .link-menu .sup {
          position: relative;
          left: -6px;
          color: white;
          background-color: #ea4d84;
          padding: .3rem;
          font-size: .6rem;
          border-radius: 50%;
          text-align: start; }

main .container-logo {
  text-align: center;
  position: relative;
  top: -3rem; }
  main .container-logo > button {
    display: none; }
  main .container-logo .image-logo-brand {
    width: 110px; }
  main .container-logo .container-list-nav {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    align-items: center;
    margin-top: 1rem; }
    main .container-logo .container-list-nav a:hover {
      color: #ea4d84; }
    main .container-logo .container-list-nav a:focus {
      color: #ea4d84; }

@media screen and (max-width: 568px) {
  main .navbar-top .container-menu {
    width: 100%; }
    main .navbar-top .container-menu .container-list-menu {
      display: flex;
      justify-content: space-between;
      width: 100%;
      text-align: center;
      margin-top: 0; }
      main .navbar-top .container-menu .container-list-menu .link-menu {
        height: auto;
        display: flex;
        align-items: flex-start; }
        main .navbar-top .container-menu .container-list-menu .link-menu .sup {
          position: relative;
          left: -6px;
          color: white;
          background-color: #ea4d84;
          padding: .3rem;
          font-size: .6rem;
          border-radius: 50%;
          text-align: start; }
      main .navbar-top .container-menu .container-list-menu .menu-profile {
        min-width: 140px;
        width: 160px;
        background-color: #ea4d84;
        border-radius: 20px; }
        main .navbar-top .container-menu .container-list-menu .menu-profile > a {
          position: relative;
          top: 2px;
          left: 2px;
          display: flex;
          align-items: center; }
          main .navbar-top .container-menu .container-list-menu .menu-profile > a .icon-gray {
            display: none; }
          main .navbar-top .container-menu .container-list-menu .menu-profile > a .icon-white {
            display: block; }
          main .navbar-top .container-menu .container-list-menu .menu-profile > a .name {
            display: block;
            color: white;
            margin-left: 1rem; }
  main .container-logo {
    position: static;
    margin-top: 1.5rem; }
    main .container-logo > button {
      display: inline-flex;
      position: absolute;
      top: 135px;
      left: 14px; }
    main .container-logo .container-list-nav {
      display: none; } }

.breadcrumb-api {
  width: 100%;
  height: 120px;
  background-color: #c9c9c9;
  display: flex;
  justify-content: center;
  align-items: center; }

.flex-container {
  margin-top: 3rem;
  display: flex;
  gap: .8rem;
  min-height: 40vh; }
  .flex-container .left-container-pay {
    padding: 1.6rem 1.2rem;
    width: 70%;
    background-color: #fffafb;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
  .flex-container .right-container-pay {
    padding: 1.6rem 1.2rem;
    width: 30%;
    background-color: #fde8ee;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
  @media screen and (max-width: 568px) {
    .flex-container {
      flex-direction: column;
      margin-top: 2rem; }
      .flex-container .left-container-pay {
        width: 100%;
        padding: 1rem .6rem; }
      .flex-container .right-container-pay {
        width: 100%;
        padding: 1rem .6rem; } }

.left-container-pay table {
  width: 100%; }
  .left-container-pay table thead {
    height: 40px; }
    .left-container-pay table thead th {
      text-align: start;
      border-bottom: 1px solid #c9c9c9; }
    .left-container-pay table thead .head2 {
      width: 10%; }
    .left-container-pay table thead .head3 {
      width: 10%; }
    .left-container-pay table thead .head4 {
      width: 10%;
      text-align: center; }
  .left-container-pay table tbody tr td {
    padding: .8em 0;
    border-bottom: 1px solid #c9c9c9; }
  .left-container-pay table tbody tr .data1 {
    display: flex; }
    .left-container-pay table tbody tr .data1 img {
      width: 70px;
      margin-right: .8em;
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, 0.3); }
    .left-container-pay table tbody tr .data1 p {
      text-transform: uppercase;
      padding: .6em 0; }
  .left-container-pay table tbody tr .data3 {
    text-align: center; }
    .left-container-pay table tbody tr .data3 .counter-prods {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 5em;
      padding: .3rem 0;
      border: 1px solid #8f8f8f;
      border-radius: 20px; }
  .left-container-pay table tbody tr .data4 {
    text-align: center; }
    .left-container-pay table tbody tr .data4 p {
      color: #ea4d84;
      font-size: 1.2rem; }
    .left-container-pay table tbody tr .data4 .del-button {
      background-color: #ea4d84;
      border-radius: 0 0 20px 0;
      padding: .4rem .4rem;
      color: white;
      font-size: .875rem;
      font-weight: 600;
      margin-top: 1rem;
      width: 100%; }

.right-container-pay .price {
  color: #ea4d84; }

.right-container-pay .small {
  font-size: .8rem; }

.right-container-pay > p {
  text-align: center;
  margin-bottom: 2.2rem; }

.right-container-pay .subtotal {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #8f8f8f; }

.right-container-pay .total {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-top: 1px solid #8f8f8f; }

.right-container-pay .container-items {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0; }
  .right-container-pay .container-items > span {
    display: flex;
    align-items: flex-start; }
    .right-container-pay .container-items > span input[type="radio"] {
      margin-right: .5rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 16px;
      height: 16px;
      padding: 0;
      border: 3px solid #c9c9c9;
      background-color: none;
      border-radius: 50%; }
      .right-container-pay .container-items > span input[type="radio"]:checked {
        background-color: #ea4d84; }
    .right-container-pay .container-items > span .description {
      margin-top: .3rem;
      font-size: .7rem;
      color: #8f8f8f; }

.right-container-pay .container-button-pay {
  position: relative;
  bottom: 0; }
  .right-container-pay .container-button-pay .pay-button {
    background-color: #ea4d84;
    border-radius: 0 0 20px 0;
    padding: .4rem 1rem;
    color: white;
    font-size: .875rem;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .right-container-pay .container-button-pay .pay-button svg {
      width: 18px;
      margin-right: .6rem; }

@media screen and (max-width: 568px) {
  .left-container-pay table thead {
    display: none; }
  .left-container-pay table tbody tr td {
    padding: 0;
    border-bottom: 1px solid #c9c9c9; }
  .left-container-pay table tbody tr .data1 {
    height: 110px;
    align-items: center; }
    .left-container-pay table tbody tr .data1 img {
      height: 60px;
      margin-right: .6em;
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.5rem rgba(0, 0, 0, 0.3); }
    .left-container-pay table tbody tr .data1 p {
      font-size: .8rem; }
  .left-container-pay table tbody tr .data2 {
    font-size: .9rem;
    font-weight: bold; }
  .left-container-pay table tbody tr .data4 > p {
    font-size: 1rem; }
  .left-container-pay table tbody tr .data4 .del-button {
    font-size: .8rem;
    padding: .3rem .5rem; } }

.conteiner {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem; }
  .conteiner .text {
    display: block;
    font-size: 2.2rem;
    text-align: center; }
  .conteiner .button {
    display: block;
    padding: .8rem;
    margin: 1.5rem 0;
    background-color: #ea4d84;
    border-radius: 0 0 20px 0;
    width: 10rem;
    color: white; }
  .conteiner .mother-image {
    height: 50vh; }

@media screen and (max-width: 568px) {
  .conteiner {
    height: auto;
    width: 94vw; }
    .conteiner .text {
      font-size: 1.6rem;
      text-align: center; }
    .conteiner .mother-image {
      height: 100%;
      width: 80%; } }

.details {
  border-bottom: 1px solid #8f8f8f;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem; }
  .details .summary {
    display: flex;
    align-items: center;
    gap: .5rem; }
  .details .pay-method {
    margin-top: 1.5rem;
    margin-left: 1.5rem; }
    .details .pay-method .images-method {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 1rem; }
      .details .pay-method .images-method > figure > figcaption {
        margin-top: .4rem;
        color: #4a4a4a; }

@media screen and (max-width: 568px) {
  .details .pay-method {
    margin-top: 1rem;
    margin-left: 0; }
    .details .pay-method .images-method > figure > img {
      width: 190px; }
    .details .pay-method .images-method > figure > figcaption p {
      font-size: .8rem; }
      .details .pay-method .images-method > figure > figcaption p > span {
        font-size: .9rem; } }
