/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  list-style: none; }

html {
  font-family: 'Comfortaa', cursive; }

body {
  padding: 0 3rem; }

a {
  text-decoration: none;
  color: #000; }

button {
  font-family: 'Comfortaa', cursive;
  border: none;
  background-color: transparent;
  cursor: pointer; }

input {
  outline: none;
  border: none; }

textarea {
  outline: none; }

::placeholder {
  font-family: 'Comfortaa', cursive; }

/* Abstracts */
/* Primary color */
/* Typographys */
/* Modules */
.container-search {
  z-index: 2;
  width: 16rem;
  display: flex;
  padding: .6em;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #4a4a4a; }
  .container-search .icon-search {
    margin-left: .5em; }
  .container-search .input-search {
    background-color: #fffafb;
    border: none;
    outline: none;
    width: 76%;
    margin-left: .5em; }

.container-menu {
  z-index: 2; }
  .container-menu .container-list-menu {
    display: flex;
    gap: 1.2em; }

/* Layout */
@use '../modules/nav_menu';
#header {
  min-height: 36rem;
  max-height: 75vh; }
  #header .navbar-top {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem; }
  #header .container-logo {
    text-align: center;
    position: relative;
    top: -3rem; }
    #header .container-logo .image-logo-brand {
      width: 110px; }
    #header .container-logo .container-list-nav {
      display: flex;
      justify-content: center;
      gap: 1.4em;
      align-items: center;
      margin-top: 1rem; }
      #header .container-logo .container-list-nav a:hover {
        color: #ea4d84; }
      #header .container-logo .container-list-nav a:focus {
        color: #ea4d84; }
  #header .hero {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem; }
    #header .hero .hero-text {
      display: flex;
      flex-direction: column;
      width: 50%; }
      #header .hero .hero-text .hero-title {
        font-size: 2rem;
        font-weight: 600; }
      #header .hero .hero-text .hero-button {
        border: none;
        background-color: #ea4d84;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: white;
        font-size: .875rem;
        font-weight: 600;
        margin-top: 3rem;
        width: 10rem; }
    #header .hero .hero-image {
      max-height: 20rem;
      position: absolute;
      z-index: -999;
      right: 3rem; }

.background-header {
  background-color: #fffafb; }

@use '../modules/card';
#featured-products {
  margin-top: 3rem; }
  #featured-products .products-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem; }
    #featured-products .products-title .text-featured {
      margin-left: .6rem; }
  #featured-products .container-product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    column-gap: 20px;
    row-gap: 40px;
    max-width: 100%; }
    #featured-products .container-product-cards .card-item {
      box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1);
      background-color: white;
      min-height: 360px;
      padding: .5rem; }
      #featured-products .container-product-cards .card-item .card-header {
        position: relative;
        display: block;
        width: 100%;
        border-radius: calc(var(--curve) * 1px);
        overflow: hidden;
        text-decoration: none; }
        #featured-products .container-product-cards .card-item .card-header .card-image {
          width: 100%;
          height: auto; }
        #featured-products .container-product-cards .card-item .card-header .card-heart-icon {
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 15px;
          margin-right: 15px;
          border: none;
          background-color: transparent;
          cursor: pointer; }
          #featured-products .container-product-cards .card-item .card-header .card-heart-icon svg:hover {
            fill: #ea4d84;
            transition: 250ms; }
        #featured-products .container-product-cards .card-item .card-header .card-button {
          display: flex;
          align-items: center;
          justify-content: end;
          cursor: pointer;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          z-index: 1;
          border-radius: 20px 0 0 0;
          background-color: #fffafb;
          border: none;
          padding: 0.6rem;
          width: 100%;
          /* Animation with hover */
          transform: translateY(100%);
          transition: .2s ease-in-out; }
          #featured-products .container-product-cards .card-item .card-header .card-button p {
            font-size: 1.25rem;
            color: #4a4a4a;
            margin-left: .8rem; }
      #featured-products .container-product-cards .card-item .card-description {
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        background-color: #fff;
        margin-top: 1.5rem;
        border-radius: 0.25rem;
        width: 100%; }
        #featured-products .container-product-cards .card-item .card-description h3 {
          font-size: 1.25rem;
          font-weight: 600; }
        #featured-products .container-product-cards .card-item .card-description p {
          margin-top: 1rem;
          font-size: 1.25rem;
          font-weight: 600; }
    #featured-products .container-product-cards .card-item:hover .card-button {
      transform: translateY(0); }

@use '../modules/card2';
#categories-products {
  margin-top: 5rem;
  display: flex; }
  #categories-products .container-aside-left {
    height: 100vh;
    width: 30%; }
    #categories-products .container-aside-left .categories-title {
      margin: 0 auto; }
      #categories-products .container-aside-left .categories-title img {
        position: absolute;
        left: 7%;
        width: 19%; }
      #categories-products .container-aside-left .categories-title p {
        z-index: 1;
        padding-top: 1rem;
        text-align: center; }
    #categories-products .container-aside-left .container-categories-list {
      margin-top: 3.8rem;
      margin-right: 1rem;
      height: auto; }
      #categories-products .container-aside-left .container-categories-list .categories-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: -40px;
        gap: .5rem; }
        #categories-products .container-aside-left .container-categories-list .categories-list :hover {
          background-color: #fde8ee; }
        #categories-products .container-aside-left .container-categories-list .categories-list :focus {
          background-color: #f7c5dd; }
        #categories-products .container-aside-left .container-categories-list .categories-list .categories-list-item {
          display: flex;
          align-items: center;
          padding: .6rem 0 .6rem 1rem;
          border-radius: 0 20px 0 0; }
          #categories-products .container-aside-left .container-categories-list .categories-list .categories-list-item svg {
            margin-right: .8rem; }
    #categories-products .container-aside-left .container-elephant-image {
      display: flex;
      height: 54%;
      justify-content: center; }
  #categories-products .container-aside-right {
    width: 70%; }
    #categories-products .container-aside-right .container-header-accesories {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1rem;
      border-bottom: 2px solid #4a4a4a; }
      #categories-products .container-aside-right .container-header-accesories .container-accesories-title {
        display: flex;
        align-items: center; }
        #categories-products .container-aside-right .container-header-accesories .container-accesories-title .text-accesories {
          margin-left: 1rem; }
      #categories-products .container-aside-right .container-header-accesories .text-link-accesories {
        display: flex;
        align-items: center;
        color: #ea4d84;
        font-size: small; }
    #categories-products .container-aside-right .container-accesories-cards {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
      column-gap: 16px;
      row-gap: 32px;
      max-width: 100%; }
      #categories-products .container-aside-right .container-accesories-cards .card-item-accesories {
        background-color: white;
        box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1);
        padding: .5rem;
        min-height: 350px; }
        #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header {
          position: relative;
          display: block;
          width: 100%;
          border-radius: calc(var(--curve) * 1px);
          overflow: hidden;
          text-decoration: none; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-image {
            width: 100%;
            height: auto; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-heart-icon {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 15px;
            margin-right: 15px;
            border: none;
            background-color: transparent;
            cursor: pointer; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-heart-icon svg:hover {
              fill: #ea4d84;
              transition: 250ms; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-button {
            display: flex;
            align-items: center;
            justify-content: end;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
            border-radius: 20px 0 0 0;
            background-color: #fffafb;
            border: none;
            padding: 0.6rem;
            width: 100%;
            /* Animation with hover */
            transform: translateY(100%);
            transition: .2s ease-in-out; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-header .card-button p {
              font-size: 1.25rem;
              color: #4a4a4a;
              margin-left: .8rem; }
        #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description {
          flex-direction: column;
          align-content: flex-end;
          background-color: #fff;
          margin-top: 1.5rem;
          border-radius: 0.25rem;
          width: 100%; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description h3 {
            font-size: 1.25rem;
            font-weight: 600; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description span {
            margin-top: 1rem; }
          #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer {
            display: flex;
            justify-content: space-between;
            margin-top: 1.25rem; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer span {
              font-size: 1.25rem;
              font-weight: 600;
              margin: auto 0; }
            #categories-products .container-aside-right .container-accesories-cards .card-item-accesories .card-description .card-footer button {
              border: none;
              background-color: #ea4d84;
              cursor: pointer;
              border-radius: 0 0 20px 0;
              padding: .5rem 1.50rem;
              color: white;
              font-size: .875rem;
              font-weight: 600; }

@use '../modules/nav_menu';
@use '../modules/pagination';
.navbar .navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }

.navbar .container-logo {
  text-align: center;
  position: relative;
  top: -3rem; }
  .navbar .container-logo .image-logo-brand {
    width: 110px; }
  .navbar .container-logo .container-list-nav {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    align-items: center;
    margin-top: 1rem; }
    .navbar .container-logo .container-list-nav a:hover {
      color: #ea4d84; }
    .navbar .container-logo .container-list-nav a:focus {
      color: #ea4d84; }

.all-products {
  margin-top: 1rem !important; }

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .6rem;
  margin-top: 3rem;
  margin-bottom: 2rem; }
  #pagination .circle-step {
    border-radius: 50%;
    padding: .5rem;
    background-color: #ea4d84;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    cursor: pointer; }
  #pagination .circle-page {
    border-radius: 50%;
    padding: .5rem;
    background-color: #c9c9c9;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    cursor: pointer; }

@use '../modules/card2';
.breadcrumb {
  font-size: 0.8rem;
  color: #4a4a4a; }

.product-intern-title {
  text-transform: uppercase;
  margin-top: 1.5rem;
  margin-bottom: 1rem; }

.wrapper-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2rem;
  width: 100%; }
  .wrapper-product .wrapper-images-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%; }
    .wrapper-product .wrapper-images-product .wrapper-left {
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: .5rem; }
      .wrapper-product .wrapper-images-product .wrapper-left .background-image {
        background-color: #e6e6e6;
        padding: .3rem;
        width: 100%; }
        .wrapper-product .wrapper-images-product .wrapper-left .background-image .image-product {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .wrapper-product .wrapper-images-product .wrapper-left .button-down-icon {
        border: none;
        background-color: transparent;
        cursor: pointer; }
    .wrapper-product .wrapper-images-product .wrapper-right {
      width: 80%; }
      .wrapper-product .wrapper-images-product .wrapper-right .background-image {
        background-color: #e6e6e6;
        padding: .3rem;
        margin-left: .5rem; }
        .wrapper-product .wrapper-images-product .wrapper-right .background-image .image-product {
          width: 100%;
          object-fit: cover; }
  .wrapper-product .wrapper-details-product {
    width: 50%; }
    .wrapper-product .wrapper-details-product .container-details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 2rem 1.5rem 1rem 1.5rem; }
      .wrapper-product .wrapper-details-product .container-details .details-top {
        display: flex;
        flex-direction: column;
        gap: 1rem; }
        .wrapper-product .wrapper-details-product .container-details .details-top div h3 {
          margin-bottom: .6rem; }
      .wrapper-product .wrapper-details-product .container-details .details-bottom {
        display: flex;
        align-items: flex-end;
        align-items: center;
        gap: 2.5rem;
        padding-top: 1rem;
        border-top: 2px solid #4a4a4a; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom .quantity .counter {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: .3rem 0;
          margin-top: .3rem;
          border: 1px solid #4a4a4a;
          border-radius: 20px; }
        .wrapper-product .wrapper-details-product .container-details .details-bottom .add-cart {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          height: 100%;
          padding: 0 1.25rem;
          color: white;
          font-size: .875rem;
          font-weight: 600; }

.container-accesories-cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  column-gap: 16px;
  row-gap: 32px;
  max-width: 100%; }
  .container-accesories-cards .card-item-accesories {
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1);
    padding: .5rem;
    min-height: 350px; }
    .container-accesories-cards .card-item-accesories .card-header {
      position: relative;
      display: block;
      width: 100%;
      border-radius: calc(var(--curve) * 1px);
      overflow: hidden;
      text-decoration: none; }
      .container-accesories-cards .card-item-accesories .card-header .card-image {
        width: 100%;
        height: auto; }
      .container-accesories-cards .card-item-accesories .card-header .card-heart-icon {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer; }
        .container-accesories-cards .card-item-accesories .card-header .card-heart-icon svg:hover {
          fill: #ea4d84;
          transition: 250ms; }
      .container-accesories-cards .card-item-accesories .card-header .card-button {
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        border-radius: 20px 0 0 0;
        background-color: #fffafb;
        border: none;
        padding: 0.6rem;
        width: 100%;
        /* Animation with hover */
        transform: translateY(100%);
        transition: .2s ease-in-out; }
        .container-accesories-cards .card-item-accesories .card-header .card-button p {
          font-size: 1.25rem;
          color: #4a4a4a;
          margin-left: .8rem; }
    .container-accesories-cards .card-item-accesories .card-description {
      flex-direction: column;
      align-content: flex-end;
      background-color: #fff;
      margin-top: 1.5rem;
      border-radius: 0.25rem;
      width: 100%; }
      .container-accesories-cards .card-item-accesories .card-description h3 {
        font-size: 1.25rem;
        font-weight: 600; }
      .container-accesories-cards .card-item-accesories .card-description span {
        margin-top: 1rem; }
      .container-accesories-cards .card-item-accesories .card-description .card-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem; }
        .container-accesories-cards .card-item-accesories .card-description .card-footer span {
          font-size: 1.25rem;
          font-weight: 600;
          margin: auto 0; }
        .container-accesories-cards .card-item-accesories .card-description .card-footer button {
          border: none;
          background-color: #ea4d84;
          cursor: pointer;
          border-radius: 0 0 20px 0;
          padding: .5rem 1.50rem;
          color: white;
          font-size: .875rem;
          font-weight: 600; }

@use './modules/cta_whatsapp';
.hero-about {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%; }
  .hero-about .header-left {
    background-color: #fffafb;
    padding: 1.6rem 2.5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    .hero-about .header-left p {
      margin-top: .8rem;
      font-size: 0.8rem; }
  .hero-about .header-right {
    width: 30%;
    background-color: #fde8ee;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    .hero-about .header-right img {
      width: 90%; }

.contact-about {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem; }
  .contact-about .contact-left {
    padding: 1.6rem 2.5rem;
    width: 70%; }
    .contact-about .contact-left h3 {
      padding-bottom: .8rem;
      border-bottom: 1px solid #4a4a4a; }
    .contact-about .contact-left .info-contact {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .contact-about .contact-left .info-contact div {
        display: flex;
        align-items: center;
        gap: .6rem; }
  .contact-about .contact-right {
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.6rem; }
    .contact-about .contact-right img {
      width: 5em; }
    .contact-about .contact-right div {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contact-about .contact-right div .whatsapp-button {
        background-color: #ea4d84;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: white;
        font-size: .875rem;
        font-weight: 600;
        width: 10rem; }

@use './modules/cta_whatsapp';
#hero-contact {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  width: 100%; }
  #hero-contact .contact-form {
    padding: 1.6rem 1rem;
    width: 50%;
    background-color: #fffafb;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    #hero-contact .contact-form h3 {
      padding-bottom: 1rem;
      border-bottom: 1px solid #4a4a4a; }
    #hero-contact .contact-form .container-form {
      display: flex;
      gap: 1rem;
      width: 100%; }
      #hero-contact .contact-form .container-form form {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        #hero-contact .contact-form .container-form form div {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: .7rem;
          border: 1px solid #4a4a4a;
          border-radius: 20px; }
          #hero-contact .contact-form .container-form form div input {
            font-size: .875rem;
            width: 86%; }
      #hero-contact .contact-form .container-form .container-image {
        width: 30%;
        display: flex; }
        #hero-contact .contact-form .container-form .container-image img {
          width: 100%; }
    #hero-contact .contact-form textarea {
      width: 100%;
      padding: .8rem;
      border: 1px solid #4a4a4a;
      border-radius: 20px;
      font-size: .875rem; }
    #hero-contact .contact-form .container-form-button {
      width: 100%;
      margin-top: .8rem;
      display: flex;
      justify-content: flex-end; }
      #hero-contact .contact-form .container-form-button .form-button {
        background-color: #ea4d84;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: white;
        font-size: .875rem;
        font-weight: 600;
        width: 10em; }
  #hero-contact .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.6rem 1rem;
    width: 50%;
    background-color: #fde8ee;
    box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }
    #hero-contact .contact-details .contact-title {
      padding-bottom: .8rem;
      border-bottom: 1px solid #4a4a4a; }
    #hero-contact .contact-details .contact-items {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      #hero-contact .contact-details .contact-items div {
        display: flex;
        align-items: center;
        gap: .6rem; }
    #hero-contact .contact-details .info-brand {
      width: 57%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      margin-top: 1.6rem; }
      #hero-contact .contact-details .info-brand img {
        width: 5em; }
      #hero-contact .contact-details .info-brand div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; }
        #hero-contact .contact-details .info-brand div .whatsapp-button {
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          padding: .8rem 1.25rem;
          color: white;
          font-size: .875rem;
          font-weight: 600;
          width: 10rem; }
    #hero-contact .contact-details .divider {
      margin-top: 1.8rem;
      border-top: 1px solid #4a4a4a;
      width: 100%; }
    #hero-contact .contact-details .contact-whatsapp {
      width: 50%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      margin-top: 1.6rem; }
      #hero-contact .contact-details .contact-whatsapp img {
        width: 5em; }
      #hero-contact .contact-details .contact-whatsapp div {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        #hero-contact .contact-details .contact-whatsapp div .whatsapp-button {
          background-color: #ea4d84;
          border-radius: 0 0 20px 0;
          padding: .8rem 1.25rem;
          color: white;
          font-size: .875rem;
          font-weight: 600;
          width: 10rem; }

#maps-api {
  width: 100%;
  height: 30rem;
  margin-top: 3rem;
  background-color: #e6e6e6;
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.1), -0.1rem -0.1rem 0.6rem rgba(0, 0, 0, 0.1); }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 32px;
    padding: .5rem; }
  .sidenav .item_product {
    transition: 0.3s;
    padding: 1rem 3rem 1rem 2rem;
    text-decoration: none;
    color: #4a4a4a;
    display: block;
    display: flex;
    gap: .8rem;
    width: 100%;
    border-top: 1px solid #4a4a4a;
    border-bottom: 1px solid #4a4a4a;
    font-weight: bold; }
    .sidenav .item_product img {
      width: 18%;
      box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.2); }
    .sidenav .item_product .right-description {
      width: 82%;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .sidenav .item_product .right-description .title-product-item {
        text-transform: uppercase; }
      .sidenav .item_product .right-description .footer-description {
        display: flex;
        justify-content: space-between; }
  .sidenav .header-product-items {
    display: flex;
    justify-content: start;
    margin-left: 2rem;
    position: absolute;
    top: 1rem;
    width: 86%; }
    .sidenav .header-product-items span {
      display: flex;
      align-items: center; }
      .sidenav .header-product-items span svg {
        width: 18px;
        margin-right: .6rem; }
  .sidenav .container-cart-button {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 1rem;
    width: 100%;
    margin-top: 1.5rem; }
    .sidenav .container-cart-button .cart_button {
      background-color: #ea4d84;
      border-radius: 0 0 20px 0;
      padding: .4rem 1rem;
      color: white;
      font-size: .875rem;
      font-weight: 600;
      width: 90%;
      display: flex;
      justify-content: space-between; }
      .sidenav .container-cart-button .cart_button span {
        display: flex;
        align-items: center; }
        .sidenav .container-cart-button .cart_button span svg {
          width: 18px;
          margin-right: .6rem; }
      .sidenav .container-cart-button .cart_button p {
        display: flex;
        align-items: center; }
