/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  list-style: none; }

html {
  font-family: 'Comfortaa', cursive; }

body {
  padding: 0 3rem; }

a {
  text-decoration: none;
  color: #000; }

::placeholder {
  font-family: 'Comfortaa', cursive; }

/* Abstracts */
/* Primary color */
/* Typographys */
/* Components */
.container-search {
  z-index: 2;
  width: 16rem;
  display: flex;
  padding: .6em;
  align-items: center;
  border-radius: 16px;
  border: 1px solid #4a4a4a; }
  .container-search .icon-search {
    margin-left: .5em; }
  .container-search .input-search {
    background-color: #fffafb;
    border: none;
    outline: none;
    width: 76%;
    margin-left: .5em; }

.container-menu {
  z-index: 2; }

.container-list {
  display: flex;
  gap: 1.2em; }

.hero {
  margin-top: 2rem;
  height: 60vh; }
  .hero .hero-title {
    font-size: 2rem;
    width: 45%;
    margin-bottom: 3rem; }
  .hero .hero-button {
    border: none;
    background-color: #ea4d84;
    border-radius: 0 0 20px 0;
    padding: .8rem 1.25rem;
    color: white;
    font-size: .875rem;
    font-weight: 600; }
  .hero .hero-image {
    position: absolute;
    z-index: -999;
    width: 60%;
    top: 200px;
    right: 4%; }

/* Layout */
.background-header {
  background-color: #fffafb; }

.navbar-top {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem; }

.container-logo {
  text-align: center;
  position: relative;
  top: -3rem; }

.image-logo-brand {
  width: 110px; }

.container-list-nav {
  display: flex;
  justify-content: center;
  gap: 1.4em;
  align-items: center;
  margin-top: 1rem; }

.products-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  /* Estilo de prueba - ELIMINAR */
  margin-bottom: 5rem; }

.text-products-title {
  margin-left: .6rem; }

.container-product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
  max-width: 100%; }

.card-item {
  background-color: #fde8ee;
  min-height: 380px; }
