/* Primary color */
$pink-100: hsl(339, 79%, 61%);
$pink-75: hsl(331, 76%, 87%);
$pink-50: hsl(342, 83%, 95%);
$pink-25: hsl(343, 100%, 99%);

$gray-100: hsl(0, 0%, 29%);
$gray-75: hsl(0, 0%, 56%);
$gray-50: hsl(0, 0%, 79%);
$gray-25: hsl(0, 0%, 90%);

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

/* Typographys */
$font-big: 1.8rem;
$font-small: .8rem;
// $font-base: 'Comfortaa', cursive;
