aside {
  width: 25%;
  background: #FDE9EF;
  height: auto;
  float: left;
  box-shadow: 0.1rem 0.01rem 0.01rem 0.3rem rgba(1, 1, 1, 0.1);

  .conten {
    width: 100%;
    padding: 0.38rem 1rem;
    border-radius: 3rem;

    .text-2 {
      text-align: center;
      font-size: 1.4rem;

      .Yape {
        text-align: center;

        .plin {
          text-align: center;
          margin-top: 1rem;

          .text-3 {
            font-size: 0.9rem;
            text-align: center;

          }
        }
      }
    }
  }
}

.conten-1 {
  width: 61%;
  background: #fff;
  display: flex;
  margin-right: 4rem;
  margin-left: 4rem;

  .trans-banc {
    width: 100%;

    .text-4 {
      margin-left: 0.5rem;
      font-size: 1.2rem;

      .banc {
        text-align: center;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .banc img {
          width: 25%;
        }
      }
    }
  }
}