@use '../modules/nav_menu';

#header{
  min-height: 36rem;

  @include nav_menu;

  .hero{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;

    .hero-text{
      display: flex;
      flex-direction: column;
      width: 50%;
      
      .hero-title{
        font-size: 2rem;
        font-weight: 600;
      }
      
      .hero-button{
        border: none;
        background-color: $pink-100;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: $white;
        font-size: .875rem;
        font-weight: 600;
        margin-top: 3rem;
        width: 10rem;
      }
    }
    
    .hero-image{
      max-height: 41%;
      position: absolute;
      z-index: -999;
      right: 3rem;
    }
  }
}

@include mobile{
  #header{
    margin-bottom: 3rem;
    .hero{
      margin-top: 0;
      display: block;
      width: 100%;
      text-align: center;

      .hero-text{
        width: 100%;
        padding: 0 5%;
        align-items: center;
        margin-top: 2rem;
        
        .hero-title{
          font-size: $font-medium;
        }

        .hero-button{
          margin-top: 1.5rem;
        }
      }

      .hero-image{
        margin-top: 1rem;
        max-height: none;
        position: static;
        display: block;
        width: 100%;
      }
    }
  }
}

// .background-header{
//   background-color: $pink-25;
//   height: 70vh;
// }