#header{
  min-height: 36rem;
  max-height: 75vh;

  .navbar-top{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  .container-logo{
    text-align: center;
    position: relative;
    top: -3rem;

    .image-logo-brand{
      width: 110px;
    }

    .container-list-nav{
      display: flex;
      justify-content: center;
      gap: 1.4em;
      align-items: center;
      margin-top: 1rem;

      a:hover{
        color: $pink-100;
      }

      a:focus{
        color: $pink-100;
      }
    }
  }

  .hero{
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    
    .hero-text{
      display: flex;
      flex-direction: column;
      width: 50%;
      
      .hero-title{
        font-size: 2rem;
        font-weight: 600;
      }
      
      .hero-button{
        border: none;
        background-color: $pink-100;
        border-radius: 0 0 20px 0;
        padding: .8rem 1.25rem;
        color: $white;
        font-size: .875rem;
        font-weight: 600;
        margin-top: 3rem;
        width: 10rem;
      }
    }
    
    .hero-image{
      max-height: 20rem;
      position: absolute;
      z-index: -999;
      right: 3rem;
    }
  }
}

.background-header{
  background-color: $pink-25;
}