.products-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  /* Estilo de prueba - ELIMINAR */
  margin-bottom: 5rem;
}
.text-products-title{
  margin-left: .6rem;
}