@use '../modules/card';

@mixin grid(){
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
  column-gap: 20px;
  row-gap: 40px;
  max-width: 100%;
}

#featured-products{
  margin-top: 3rem;
  
  .products-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    
    > h2{
      margin-left: .6rem;
    }
  }
  
  .container-product-cards{
    @include grid();

    @include card1;
  }
}

@include mobile{
  #featured-products{
    .products-title{
      margin-bottom: 1.6rem;
    }

    .container-product-cards{
      display: flex;
      width: 100vw;
      overflow-x: auto;
      .card-item{
        .card-description{
          margin-top: 1rem;
          .product-name{
            font-size: 1rem;
          }
        }
      }
    }
  }
}