#featured-products{
  margin-top: 5rem;
  
  .products-title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    
    .text-featured{
      margin-left: .6rem;
    }
  }
  
  .container-product-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    column-gap: 20px;
    row-gap: 40px;
    max-width: 100%;
    
    .card-item{
      box-shadow: .25rem .25rem .8rem rgba(0,0,0,0.3);
      background-color: $white;
      min-height: 360px;
      padding: .5rem;

    }
  }
}