.card-description{
  
  h3{
    font-size: 1.25rem;
    font-weight: 600;
  }

  span{
    margin-top: 1rem;
  }
  
  .card-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
    
    span{
      font-size: 1.25rem;
      font-weight: 600;
      margin: auto 0;
    }

    button{
      border: none;
      background-color: $pink-100;
      cursor: pointer;
      border-radius: 0 0 20px 0;
      padding: .5rem 1.50rem;
      color: $white;
      font-size: .875rem;
      font-weight: 600;
    }
  }
  
}