.card-header{
  position: relative;
  display: block;
  width: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  
  .card-image{
    width: 100%;
    height: auto;
  }
  
  .card-button{
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: 20px 0 0 0;    
    background-color: $pink-25;
    border: none;
    padding: 0.6rem;
    width: 100%;
    /* Animation with hover */
    transform: translateY(100%);
    transition: .2s ease-in-out;
  
    p{
      font-size: 1.25rem;
      color: $gray-100;
      margin-left: .8rem;
    }
  }
}

.card-item:hover .card-button{
  transform: translateY(0);
}

.card-description{
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  background-color: #fff;
  margin-top: 1.5rem;
  border-radius: 0.25rem;
  width: 100%;
  
  h3{
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  p{
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
}