*{
  box-sizing: border-box;
  margin: 0;
  padding-top: 0;
  list-style: none;
}

html{
  font-family: 'Comfortaa', cursive;
}

body{
  padding: 0 3rem;
}
a{
  text-decoration: none;
  color: #000;
}
button{
  font-family: 'Comfortaa', cursive;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
input{
  outline: none;
  border: none;
  background-color: transparent;
}
textarea{
  outline: none;
}
::placeholder{
  font-family: 'Comfortaa', cursive;
}