@mixin card1{
  .card-item{
    box-shadow: .1rem .1rem .6rem rgba(0,0,0,0.1), -.1rem -.1rem .6rem rgba(0,0,0,0.1);
    background-color: $white;
    min-height: 360px;
    padding: .5rem;
    
    .card-header{
      position: relative;
      display: block;
      width: 100%;  
      border-radius: calc(var(--curve) * 1px);
      overflow: hidden;
      text-decoration: none;
      
      .card-image{
        width: 100%;
        height: auto;
      }
    
      .card-heart-icon{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    
        svg:hover{
          fill: $pink-100;
          transition: 250ms;
        }
      }
    
      .card-button{
        display: flex;
        align-items: center;
        justify-content: end;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;      
        border-radius: 20px 0 0 0;    
        background-color: $pink-25;
        border: none;
        padding: 0.6rem;
        width: 100%;
        /* Animation with hover */
        transform: translateY(100%);
        transition: .2s ease-in-out;
      
        p{
          font-size: 1.25rem;
          color: $gray-100;
          margin-left: .8rem;
        }
      }
    }
    
    .card-description{
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      background-color: #fff;
      margin-top: 1.5rem;
      border-radius: 0.25rem;
      width: 100%;
      
      h3{
        font-size: 1.25rem;
        font-weight: 600;
      }
      
      p{
        margin-top: 1rem;
        font-size: 1.25rem;
        font-weight: 600;
      }
      
    }
  }
  
  .card-item:hover .card-button{
    transform: translateY(0);
  }
}
