@mixin card2{
  .card-item-accesories{
    background-color: $white;
    box-shadow: .1rem .1rem .6rem rgba(0,0,0,0.1), -.1rem -.1rem .6rem rgba(0,0,0,0.1);
    padding: .5rem;

    .card-header{
      position: relative;
      display: block;
      width: 100%;  
      overflow: hidden;
      text-decoration: none;
      
      .card-image{
        width: 100%;
        height: auto;
      }
    
      .card-heart-icon{
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 15px;
        margin-right: 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
    
        svg:hover{
          fill: $pink-100;
          transition: 250ms;
        }
      }
    }

    .card-description{
      flex-direction: column;
      align-content: flex-end;
      background-color: #fff;
      margin-top: 1.5rem;
      border-radius: 0.25rem;
      width: 100%;
  
      h3{
        font-size: 1.25rem;
        font-weight: 600;
      }
  
      span{
        margin-top: 1rem;
      }
  
      .card-footer{
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
        
        span{
          font-size: 1.25rem;
          font-weight: 600;
          margin: auto 0;
        }
    
        button{
          background-color: $pink-100;
          border-radius: 0 0 20px 0;
          padding: .5rem 1.50rem;
          color: $white;
          font-size: .875rem;
          font-weight: 600;
        }
      }
    }
  }
}

