@mixin nav_menu {
  .navbar-top{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    
    .container-menu{
      z-index: 2;
      
      .container-list-menu{
        display: flex;
        gap: 1.2em;

        .icon-white{
          display: none;
        }
        .name{
          display: none;
        }

        .link-menu{
          height: auto;
          display: flex;
          align-items: flex-start;

          .sup{
            position: relative;
            left: -6px;
            color: $white;
            background-color: $pink-100;
            padding: .3rem;
            font-size: .6rem;
            border-radius: 50%;
            text-align: start;
          }
        }
      }
    }
  }

  .container-logo{
    text-align: center;
    position: relative;
    top: -3rem;

    .button-menu-burguer{
      display: none;
    }

    .image-logo-brand{
      width: 110px;
    }

    .container-list-nav{
      display: flex;
      justify-content: center;
      gap: 1.4em;
      align-items: center;
      margin-top: 1rem;

      a:hover{
        color: $pink-100;
      }

      a:focus{
        color: $pink-100;
      }
    }
  }

  @include mobile{
    .navbar-top{
      .container-menu{
        width: 100%;

        .container-list-menu{
          display: flex;
          justify-content: space-between;
          width: 100%;
          text-align: center;
          margin-top: 0;

          .link-menu{
            height: auto;
            display: flex;
            align-items: flex-start;

            .sup{
              position: relative;
              left: -6px;
              color: $white;
              background-color: $pink-100;
              padding: .3rem;
              font-size: .6rem;
              border-radius: 50%;
              text-align: start;
            }
          }

          .menu-profile{
            min-width: 140px;
            width: 160px;
            background-color: $pink-100;
            border-radius: 20px;

            > a{
              position: relative;
              top: 2px;
              left: 2px;
              display: flex;
              align-items: center;

              .icon-gray{
                display: none;
              }
              .icon-white{
                display: block;
              }

              .name{
                display: block;
                color: $white;
                margin-left: 1rem;
              }
            }
          }
        }
      }
    }

    .container-logo{
      position: static;
      margin-top: 1.5rem;

      .button-menu-burguer {
        display: block;
        position: absolute;
        width: 140px;
        top: 125px;
        /*z-index: 3;*/
        .menu-btn {
          display: none;
          &:checked ~ .menu { max-height: 160px; }
          &:checked ~ .menu-icon .navicon { 
            background: transparent;
            &:before { transform: rotate(-45deg); }
            &:after { transform: rotate(45deg); }
          }
          &:checked ~ .menu-icon:not(.steps) .navicon:before,
          &:checked ~ .menu-icon:not(.steps) .navicon:after { top: 0; }
        }
        
        .menu-icon {
          cursor: pointer;
          float: left;
          padding: 22px 14px;
          position: relative;
          user-select: none;
          background-color: $pink-50;
      
          .navicon {
            background: #000;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 22px;
      
            &:before, &:after {
              background: #333;
              content: '';
              display: block;
              height: 100%;
              position: absolute;
              transition: all .2s ease-out;
              width: 100%;
            }
            &:before{ top: 5px; }
            &:after{ top: -5px; }
          }
        }
        
        .menu {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;
          background-color: $pink-50;
          clear: both;
          max-height: 0;
          transition: max-height .2s ease-out;
          li a {
            display: block;
            padding: 12px 20px;
            text-decoration: none;
          }
        }
        li a:hover, .menu-btn:hover { background-color: pink; }
      }

      .container-list-nav{
        display: none;
      }
    }
  }
}