.container-search{
  z-index: 2;
  width: 16em;
  display: flex;
  padding: .6em 1em;
  align-items: center;
  border-radius: 20px;
  border: 1px solid $gray-100;
  
  .input-search{
    width: 90%;
    margin-left: .5em;
  }
}

@include mobile{
  .container-search{
    display: none;
  }
}